# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.iml
.flutter-plugins
.flutter-plugins-dependencies

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
android/.gradle/
android/app/*.iml
android/local.properties
android/app/google-services.json
android/key.jks

# Firebase
firebase.json
GoogleService-Info.plist

# VS Code
.vscode/

# IntelliJ/Android Studio
.idea/
*.iml

# Web
web/.dart_tool/
web/flutter_build/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Mac
.DS_Store
